nav.custom-nav {
    color: #fff;
} 

.icons-card {
    width: 25px;
}

.custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
    color: #F35CA3;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 2.4em;
    transition: 0.3 color ease;
    border: 1px solid transparent; }
    .custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
      color: #aa0c56;
      text-decoration: underline; }
  
  /* .custom-nav #navbarNav .navbar-nav .nav-item .btn-login {
    display: inline-block;
    color: white;
    background-color: #F35CA3;
    border-radius: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
    transition: 0.5s ease; }
    .custom-nav #navbarNav .navbar-nav .nav-item .btn-login:hover {
      color: #F35CA3;
      border: 1px solid #F35CA3;
      background-color: transparent;
      text-decoration: none; } */
  
 